@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Montserrat;
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(82.33% 70.44% at 50% 0%, #26394D 0%, #212529 100%);
    user-select: none;
    .container {
        width: 1016px;
        .overlap {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            display: flex;
            width: 100vw;
            height: 100vh;
            background-color: #000000a0;
            align-items: center;
        }
        .modal {
            position: relative;
            width: 500px;
            height: 300px;
            background-color: #fff;
            border-radius: 5px;
            margin: 0 auto;
            color: #000;
            .modal__close {
                position: absolute;
                top: 20px;
                right: 10px;
                width: 20px;
                height: 2px;
                background-color: #000;
                transform: rotate(45deg);
                &::before {
                    content: '';
                    display: block;
                    width: 20px;
                    height: 2px;
                    background-color: #000;
                    transform: rotate(-90deg);
                }
            }
            .modal__title {

            }
            .modal__subtitle {

            }
        }
        .content {
            width: 756px;
            margin: 0 auto;
            h2 {
                font-family: Montserrat;
                font-size: 32px;
                font-weight: 600;
                line-height: 40px;
                text-align: left;
                margin-bottom: 40px;
            }
            .coinImgBlock {
                height: 25px;
                direction: rtl;
                text-align: left;
                .coinImg {
                    position: relative;
                    &:not(:last-child) {
                        margin-left: -10px;
                    }
                }
            }
            
            .coins {
                font-size: 20px;
                opacity: .7;
                margin-bottom: 10px;
                span:first-child {
                    margin-right: 10px;
                    font-weight: bold;
                }
                span:last-child {
                    margin-left: 10px;
                }
            }
            .addCoins {
                display: flex;
                margin-top: 30px;
                margin-bottom: 100px;
                .addCoins__btn {
                    margin-right: 30px;
                    color: #FF7F22;
                    border-bottom: 1px dotted #FF7F22;
                    cursor: pointer;
                }
                .addCoins__checkbox {
                    input {
                        margin-right: 6px;
                        cursor: pointer;
                    }
                }
            }
            .market {
                display: flex;
                justify-content: space-between;
                margin-bottom: 100px;
                .market__elem {
                    margin-top: -50px;
                    text-align: center;
                    .market__elem-img {
                        display: flex;
                        justify-content: center;
                        width: 250px;
                        height: 250px;
                        img {
                            width: 100%;
                        }
                    }
                    .market__elem-title {
                        font-size: 20px;
                        font-weight: 600;
                        line-height: 32px;
                        margin-bottom: 10px;
                        margin-top: -50px;
                    }
                    .market__elem-price {
                        opacity: .8;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 30px;
                    }
                    .market__elem-btn {
                       width: 236px;
                       height: 48px;
                       line-height: 48px;
                       background: linear-gradient(180deg, #FF7F22 0%, #FF5722 100%);
                       border-radius: 60px;
                       font-weight: 600;
                       cursor: pointer;
                       &:hover {
                        background: #FF5722;
                       }
                       &--noMoney {
                        background: #4C5865;
                        cursor: default;
                        &:hover {
                            background: #4C5865;
                        }
                       }
                    }
                } 
            }
            .warehouse {
                margin-top: 60px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 100px;
                .warehouse__elem {
                    text-align: center;
                    .warehouse__elem-title {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 10px;
                    }
                    .warehouse__elem-price {
                        opacity: .8;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 15px;
                    }
                    .warehouse__elem-amount {
                        font-size: 20px;
                        font-weight: 600;
                        margin-bottom: 30px;
                    }
                    .warehouse__elem-btn {
                        width: 236px;
                        height: 48px;
                        line-height: 48px;
                        border: 2px solid #22B3E3;
                        color: #22B3E3;
                        border-radius: 60px;
                        font-weight: 600;
                        cursor: pointer;
                        &:hover {
                            background: #22B3E3;
                            color: #000;
                        }
                        &--outOfStock {
                            color: #4C5865;
                            border: 2px solid #4C5865;
                            &:hover {
                                background: transparent;
                                color: #4C5865;
                                cursor: default;
                            }
                        }
                    }
                }
            }
            .factory {
                display: flex;
                .factory__menu {
                    margin-right: 10px;
                    .factory__menu-title {
                        font-size: 18px;
                        margin-bottom: 30px;
                    }
                    .factory__menu-checkbox {
                        display: flex;
                        margin-bottom: 40px;
                        .factory__menu-checkbox__elem {
                            margin-right: 40px;
                            input {
                                margin-right: 10px;
                                cursor: pointer;
                            }
                        }
                    }
                    .factory__menu-btn {
                        width:  236px;
                        height: 48px;
                        line-height: 44px;
                        top: 2183px;
                        left: 342px;
                        text-align: center;
                        border-radius: 60px;
                        border: 2px solid #4C5865;
                        color: #4C5865;
                        margin-top: 80px;
                        &--active {
                            border: 2px solid #FF7F22;
                            color: #FF7F22;
                            cursor: pointer;
                        }
                    }
                }
                .factory__details {
                    .factory__details-elem {
                        display: flex;
                        .biohand__elem, .chip__elem, .soul__elem {
                            display: flex;
                            width: 48px;
                            height: 48px;
                            margin: 8px 5px;
                            border-radius: 4px;
                            justify-content: center;
                            align-items: center;
                            background: #383838;
                            border: 1px solid #383838;
                            img {
                                filter: brightness(0) saturate(100%) invert(33%) sepia(4%) saturate(18%) hue-rotate(318deg) brightness(102%) contrast(77%);
                            }
                            &--active {
                                background: transparent;
                                border: 1px solid #FF7F22;
                                img {
                                    filter: brightness(0) saturate(100%) invert(59%) sepia(62%) saturate(3017%) hue-rotate(345deg) brightness(105%) contrast(101%);
                                }
                            }
                            &--isStock {
                                background: #383838;
                                border: 1px solid #383838;
                                img {
                                    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(48deg) brightness(104%) contrast(103%);
                                }
                            }
                        }
                    }
                    .factory__details-missing {
                        font-size: 13px;
                        width: 220px;
                        opacity: .6;
                        margin-top: 70px;
                    }
                }
            }
        }
    }
}